<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Servers" value="Server1\sqlexpress,Server2,Server3" />
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source={0};Initial Catalog=master;Integrated Security=True;" />
	</connectionStrings>
</configuration>
